// Styles for Homepage

.intro {
		align-items: center;
		padding: 150px;
}

.team {
		align-items: center;
		padding: 100px;
}

.about_product {
	align-items: center;
		padding: 150px;
		margin-top: 70px;
		margin-bottom: 70px;
}

.image_wrapper {
	position: relative;
}

.image_description{
	position: absolute;
		top: 64px;
		left: 20px;
		color: white;
		font-size: 30px;
		line-height: 1.2;
		font-family: 'Montserrat', sans-serif;
}

@media screen and (min-width: 640px) {
	.image_description{
		display:flex;
		top:132px;
		left: 60px;
		font-size: 80px;
	}
}

.about_product {
		align-items: center;
		padding: 50px;

}

.second_title {
	font-family: 'Montserrat: 500', sans-serif;

}

.second_description {
	font-family: 'Montserrat:400', sans-serif;
}

.images {
	max-width: 100%;
}


.container{
	padding-top: 30px;
}

.person_description {
	padding-bottom: 80px;
	padding-right: 40px;
	padding-left: 40px;
}


.about_product{
	display: flex;
}

.download {
	padding-top: 80px;
}



.sensor {
	padding-left: 70px;
	padding-right: 80px;
}

.navbar {
	position: fixed;
	right: 30px;
}


a:hover {
        text-decoration: none;
        color: white;
}

a:link {
        text-decoration: none;
        color: #13245D;
}

a:visited {
        text-decoration: none;
        color: #13245D;
}
